@import '../../styles.scss';

  .subcard {
    position: relative;
    margin-top:  0.5rem;
    margin-right: 0.5rem;
    left: 25%;
    text-align: center;
    text-decoration: none;
    width: 50%;
  }
  .flexcol{
    align-items: center;
    justify-content: center;
    position:relative;
    overflow:hidden;
    width:100%
  }
  a {
      text-decoration: none;
  }
  .form-row {
      padding:5px;
  }