<div class="wrapper">
  <!--navbar-->
  <mat-toolbar class="toolbar" role="banner">
    <span>Welcome to QuizApp!</span>
    <span class="spacer"></span>
    <a routerLink="">
      <button mat-icon-button class="navhome" aria-label="Home Button">
        <mat-icon>home</mat-icon>
      </button>
    </a>
    <a routerLink="new">
      <button mat-raised-button class="navbutton" aria-label="New Button">
      New Quiz
      </button>
    </a>
  </mat-toolbar>
  <!--web page-->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <!--footer-->
  <mat-toolbar class="footer">
    <span>QuizApp 2021</span>
  </mat-toolbar>
</div>
