<div [formGroup]="form">
  <label [attr.for]="question.key">{{ question.label }}</label>

  <ng-container [ngSwitch]="question.controlType">
    <div
      *ngSwitchCase="'multichoicemultiple'"
      [formControlName]="question.key"
      [id]="question.key"
    >
      <div *ngFor="let opt of question.options">
        <mat-checkbox [value]="opt.key">{{ opt.value }}</mat-checkbox>
      </div>
    </div>

    <mat-radio-group
      [id]="question.key"
      *ngSwitchCase="'multiplechoicesingle'"
      [formControlName]="question.key"
    >
      <div *ngFor="let opt of question.options">
        <mat-radio-button [value]="opt.key">{{ opt.value }}</mat-radio-button>
      </div>
    </mat-radio-group>

    <mat-radio-group
      [id]="question.key"
      *ngSwitchCase="'truefalse'"
      [formControlName]="question.key"
    >
      <mat-radio-button value="true">True</mat-radio-button>
      <mat-radio-button value="false">False</mat-radio-button>
    </mat-radio-group>

    <input
      *ngSwitchCase="'shortanswer'"
      matInput
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
      value=""
    />
  </ng-container>
</div>
