/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
$app-primary: mat-palette($mat-light-blue);
$app-accent:  mat-palette($mat-purple);
$app-warn:    mat-palette($mat-red);
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
